name: Auto claim workflow
permissions:
  actions: write
  checks: write
  contents: write
on:
  # Scheduled trigger is disabled by default
  # Uncommenting the following two lines will enable it
  # schedule:
  #   - cron: '0 16 * * *'
  workflow_dispatch:
  repository_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
      - name: Create auth config from GitHub Secrets
        run: |
          chmod a+rx ./config/decrypt_config_auth.sh
          ./config/decrypt_config_auth.sh
        shell: bash
        env:
          CONFIG_AUTH_ENCRYPTION_KEY: ${{ secrets.CONFIG_AUTH_ENCRYPTION_KEY }}
          CONFIG_AUTH_ENCRYPTION_IV: ${{ secrets.CONFIG_AUTH_ENCRYPTION_IV }}
          CONFIG_AUTH_YAML: ${{ secrets.CONFIG_AUTH_YAML }}
      - name: Install dependencies
        run: bun install
      - name: Run auto claim
        uses: nick-fields/retry@v3
        with:
          max_attempts: 5
          timeout_minutes: 10
          command: bun run src/main.ts claim
      - name: Run auto redemption
        uses: nick-fields/retry@v3
        with:
          max_attempts: 5
          timeout_minutes: 10
          command: bun run src/main.ts redeem
      - name: Encrypt auth config
        run: |
          chmod a+rx ./config/encrypt_config_auth.sh
          ./config/encrypt_config_auth.sh
        shell: bash
        env:
          CONFIG_AUTH_ENCRYPTION_KEY: ${{ secrets.CONFIG_AUTH_ENCRYPTION_KEY }}
          CONFIG_AUTH_ENCRYPTION_IV: ${{ secrets.CONFIG_AUTH_ENCRYPTION_IV }}
          CONFIG_AUTH_YAML: ${{ secrets.CONFIG_AUTH_YAML }}
      - name: Git staging, commit, push
        continue-on-error: true
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add config/config.yaml config/config_auth.yaml.enc
          git commit -m 'Add known expired/used redemption codes'
          git push
